body{
    background-color: burlywood;
    text-align: center;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 80px;
    color: maroon;
}
p{
    font-family: 'Franklin Gothic Medium';
    color:maroon;
    font-size: 25px;
}

h5{
    font-family: 'Franklin Gothic Medium';
    color:maroon;
    font-size: 15px;
}
footer{
    padding: 10px 20px;
    background: #666;
    color: white;
}
a{
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    font-size: 40px;
    color: maroon;
    text-decoration: none;
}
